.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

/* final stage */

.material-symbols-outlined[content="arrow_forward_ios"],
.material-symbols-outlined[content="radio_button_checked"],
.material-symbols-outlined[content="radio_button_unchecked"],
.material-symbols-outlined[content="arrow_back_ios"] {
  color: black
}

.carousel-buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.button-arrow {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}

.indicators {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

.indicator-buttons {
  border: none;
  cursor: pointer;
}

.indicators > button {
  margin: 5px;
  background: none;
}

.indicator-symbol-active {
  color: #000;
}

@media (max-width: 400px) {
  .indicators > button {
    margin: 0;
  }
}

@media (max-width: 300px) {
  .indicators > button {
    padding: 0;
  }
  .button-arrow {
    margin: 1rem 0 0 0;
    padding: 0;
  }
}
